.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.bg-light {
    background-color: transparent !important;
}

.trn {
    background-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0));
    z-index: 99;
}
