@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="navbar navbar-expand-lg navbar navbar-light fixed-top bg-light trn">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>
        
        <article class="content px-4">
            @Body <!-- HOME  root -->
        </article>
      
    </main>
</div>
